<div class="login-wrap">
  <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
      <div class="login-form">
          <div class="sign-in-htm">
              <div class="group">
                  <label for="user" class="label">Username</label>
                  <dx-text-box [showClearButton]="true" [(value)]="signInUsername">
                      <dx-validator>
                          <dxi-validation-rule type="required" message="Username is required"></dxi-validation-rule>
                      </dx-validator>
                  </dx-text-box>
              </div>
              <div class="group">
                  <label for="pass" class="label">Password</label>
                  <dx-text-box [showClearButton]="true" [disabled]="disableSignInPsw" [(value)]="signInPsw">
                      <dx-validator>
                          <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
                      </dx-validator>
                  </dx-text-box>
              </div>            
              <div class="group">
                  <input type="submit" class="button" value="Sign In" (click)="SignInClick($event)">
              </div>
              <div class="hr"></div>              
          </div>
          <div class="sign-up-htm">
              <div class="group">
                  <label for="user" class="label">First Name</label>
                  <dx-text-box [showClearButton]="true" [(value)]="signUpFname">
                      <dx-validator>
                          <dxi-validation-rule type="required" message="First Name is required"></dxi-validation-rule>
                      </dx-validator>
                  </dx-text-box>
              </div>
              <div class="group">
                  <label for="user" class="label">Last Name</label>
                  <dx-text-box [showClearButton]="true" [(value)]="signUpLname">
                      <dx-validator>
                          <dxi-validation-rule type="required" message="Last Name is required"></dxi-validation-rule>
                      </dx-validator>
                  </dx-text-box>
              </div>
              <div class="group">
                  <label for="user" class="label">Email</label>
                  <dx-text-box [showClearButton]="true" [(value)]="signUpEmail">
                      <dx-validator>
                          <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
                          <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
                      </dx-validator>
                  </dx-text-box>
              </div>
              <div class="group">
                  <label for="user" class="label">Username</label>
                  <dx-text-box [showClearButton]="true" [(value)]="signUpUsername">
                      <dx-validator>
                          <dxi-validation-rule type="required" message="Username is required"></dxi-validation-rule>
                      </dx-validator>
                  </dx-text-box>
              </div>
              <div class="group">
                  <label for="pass" class="label">Password</label>
                  <dx-text-box [showClearButton]="true" [(value)]="signUpPsw" (change)="onSignUpPswChange($event)">
                      <dx-validator>
                          <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
                      </dx-validator>
                  </dx-text-box>
              </div>
              <div class="group">
                  <label for="pass" class="label">Repeat Password</label>
                  <dx-text-box [showClearButton]="true" [(value)]="signUpRepeatPsw" (change)="onSignUpRepeatPswChange($event)">
                      <dx-validator>
                          <dxi-validation-rule type="required" message="Repeat password is required"></dxi-validation-rule>
                      </dx-validator>
                  </dx-text-box>
              </div>
              <div class="group">
                  <input type="submit" class="button" value="Sign Up" (click)="SignUpClick($event)">
              </div>
              <div class="hr"></div>
              <div class="foot-lnk">
                  <label for="tab-1">Already Member?</label>
              </div>
          </div>
      </div>
  </div>
</div>