<div class="list-container">
    <dx-list [dataSource]="userNoteDetails">
        <div *dxTemplate="let item of 'item'">
            <h3>{{item.note}}</h3>
            <dl>
                <dt>{{item.title}}</dt>
                <dd></dd>
                <br>
                <dt>User: {{item.username}}</dt>
                <dd></dd>
                <dt>Date Modified: {{item.modifiedDate}}</dt>
                <dd></dd>
                <br>
                <div class="dx-field">
                    <div class="dx-field-value">
                        <dx-text-area placeholder="Type your Comment" (onValueChanged)="commentChanged($event)"></dx-text-area>
                        <dx-button text="Add Comment" type="success" class="right" [width]="130" (onClick)="addCommentClick(item)">
                        </dx-button>
                    </div>

                </div>

            </dl>
        </div>
    </dx-list>
</div>